{% extends "base.html" %}
{% load static %}
{% block title %}Team | FarmGuard AI{% endblock %}

{% block content %}
<h1 class="page-title">Meet the FarmGuard team</h1>
<div class="grid team-grid">
  <div class="card team-card">
    <img src="{% static 'images/aaditya.jpeg' %}" alt="Aaditya Joshi" class="team-img">
    <h3>Aaditya Joshi</h3>
    <div class="links">
  <a href="https://github.com/aadityajoshi-lab" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a href="mailto:Aadityajoshi600@gmail.com" aria-label="Email">
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>

  </div>

  <div class="card team-card">
    <img src="{% static 'images/aayush.jpg' %}" alt="Aayush Sigdel" class="team-img">
    <h3>Aayush Sigdel</h3>
    <div class="links">
  <a href="https://github.com/BoBbY-dev-0099" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a href="mailto:aayushsigdel41@gmail.com" aria-label="Email">
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>

  </div>

  <div class="card team-card">
    <img src="{% static 'images/bikash.jpg' %}" alt="Bikash Chandra Mishra" class="team-img">
    <h3>Bikash Chandra Mishra</h3>
        <div class="links">
  <a href="https://github.com/" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a href="mailto:bikash.mishra2079@gmail.com" aria-label="Email">
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>

  </div>

  <div class="card team-card">
    <img src="{% static 'images/aashrav.JPG' %}" alt="Aashrav Chalise" class="team-img">
    <h3>Aashrav Chalise</h3>
    <div class="links">
  <a href="https://github.com/" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a href="mailto:aashrav44@gmail.com" aria-label="Email">
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>

  </div>
</div>
{% endblock %}
